.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #2eb58e;
  min-width: 0;
  min-height: 0;
  padding: 120px 12%;
}
@media (min-width: 0px) and (max-width: 800px) {
  .root {
    padding: 64px 20px;
  }
}
.freeBox__p4EmX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 980px;
  min-width: 0;
  min-height: 0;
}
.freeBox__vTi1L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
.freeBox___0JnxV {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}
.freeBox___0JnxV > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox___0JnxV {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox___0JnxV > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 80px);
    height: calc(100% + 80px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox___0JnxV > :global(.__wab_flex-container) > *,
  .freeBox___0JnxV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0JnxV > :global(.__wab_flex-container) > picture > img,
  .freeBox___0JnxV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 80px;
  }
}
.freeBox__maf2X {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__maf2X {
    left: auto;
    top: auto;
    align-items: center;
  }
}
.freeBox___2Lp29 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 464px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox___2Lp29 {
    width: 322px;
  }
}
.text__b80KM {
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Eczar", serif;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__b80KM {
    text-align: center;
    font-size: 42px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .text__b80KM {
    font-size: 36px;
  }
}
.text__mogR4 {
  position: relative;
  font-size: 22px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__mogR4 {
    text-align: center;
    font-size: 18px;
  }
}
.freeBox__yUyD {
  width: 40%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__yUyD {
    left: auto;
    top: auto;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__yUyD {
    width: 100%;
    min-width: 0;
  }
}
.text__o4IuL {
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Eczar", serif;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__o4IuL {
    text-align: center;
    font-size: 42px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .text__o4IuL {
    font-size: 36px;
  }
}
.freeBox___1ORdS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox___1ORdS {
    align-items: center;
  }
}
.copyableLink:global(.__wab_instance) {
  position: relative;
}
.freeBox__yqsRw {
  flex-direction: column;
  width: 40%;
  height: auto;
  display: flex;
  position: relative;
}
.freeBox__yqsRw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 9px);
  height: calc(100% + 9px);
}
.freeBox__yqsRw > :global(.__wab_flex-container) > *,
.freeBox__yqsRw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yqsRw > :global(.__wab_flex-container) > picture > img,
.freeBox__yqsRw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 9px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__yqsRw {
    width: auto;
  }
}
.freeBox__uHkTm {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  margin-top: calc(10px + 9px) !important;
  margin-left: -8px;
}
.freeBox__uHkTm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.freeBox__uHkTm > :global(.__wab_flex-container) > *,
.freeBox__uHkTm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uHkTm > :global(.__wab_flex-container) > picture > img,
.freeBox__uHkTm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__uHkTm {
    margin-left: 0px;
    margin-top: calc(10px + 9px) !important;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__uHkTm > :global(.__wab_flex-container) {
    margin-left: calc(0px - 39px);
    width: calc(100% + 39px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__uHkTm > :global(.__wab_flex-container) > *,
  .freeBox__uHkTm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uHkTm > :global(.__wab_flex-container) > picture > img,
  .freeBox__uHkTm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 39px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__uHkTm {
    margin-top: calc(10px + 9px) !important;
  }
}
.link__cpCdb {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg__tft00 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.link__fQrFu {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg__g8Vrl {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.link__eaGtW {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg___7YZDg {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.freeBox__bIx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
